.App {
  text-align: center;
  position: absolute;
}

.App-h1 {
  width: 100vw;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.visualizer-container{
  margin-left: 15%;
  margin-right: 85%;
}

.array-container{
  /* outline: 2px solid white; */
  width: 70vw;
  height: 65vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.bar {
  display: inline-block;
  /* margin-left: 0.5vw; */
  bottom: 0px;
}

.button-container{
  display: flex;
}
.button{
  background-color: #8718bb;
  margin-top: 2vh;
  margin-right: 1vw;
  display:inline-block;
  min-width: 7vw;
  min-height: 7vh;
  border-radius:1.2em;
  box-sizing: border-box;
  text-align:center;
  text-decoration:none;
  color:#FFFFFF;
  font-size: 2.5vh;
  border: none;
  
  transition: all 0.2s;
  }

.button:hover{
  background-color: white;  
  color: black;
  box-shadow: 5px 10px rgb(107, 107, 107);
}
@media all and (max-width:30em){
  .button{
    display:block;
    margin:0.2em auto;
  }
}
